@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(//fonts.googleapis.com/css?family=Volkhov:400italic);

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  color: #734743;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
}
header {
  background: url("../img/bg_site.jpg") no-repeat;
  background-color: #f5f1e0;

}
header .navbar-nav li a{
  font-weight: 600;
  margin: 10px 5px;
}
header .navbar-nav li a:hover {
  background-color: #AAB3DA;
  border-radius: 5px;
  margin: 10px 5px;
}
footer {
  background-color: #f5f1e0;

  padding-bottom:55px;
  padding-top: 48px;

  text-align: center;

}

footer p {
  color: #919191;
  font-size: 15px;
  line-height: 25px;

}
footer a {
  color: #595959;
}
footer .rodape-image {
  width: 25%;
}
.linha{
  margin: 50px 0 50px 0;
}

.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:hover{
  color: #734743;
}
.social-icons i {
  color: #2C2C2C;
  font-size: 25px;
  margin-right: 25px;
}
/* post page*/

.post-row{
  border-bottom: 1px dotted #ddd;
  padding: 40px;

}
.complete-title {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0 0 0;
  margin-top:100px;
  font-size: 30px;
  font-weight: bold;
}

.post-area {
  background-color: white;
  border: 1px dotted #ddd;
  float: left;
  max-height: 400px;
  padding: 10px;
  position: relative;
}
.post-thumbnail {
  display: block;
  margin:auto;
  width: 90%;
}
.post-area a:link, .post-area a:visited {
 color: #333;
}

.post-area a:hover {
 color: #0D0017;
}
/* POST THUMBNAIL - Index */
.post-title {
  font-size: 15px;
  font-weight: bold;
}
.post-subtitle {
  font-size: 12px;
}

.button {
  background-color: #aab3da;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  transition: all 0.5s;
  vertical-align: middle;
  width: 100px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  position: absolute;
  right: -20px;
  top: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
