<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>CEFA - Centro Espírita Francisco de Assis</h5>
        <p>Rua Senador Catunda, 117 | Benfica, Fortaleza - CE</p>
        <p>Telefone: (85) 3221 - 6163</p>
      </div>
      <div class="col-md-4">
         <a href="http://feec.org.br/"><img class="rodape-image" src="{{ site.baseurl }}/img/logos/logo_feec.png" alt="logo feec"></a>
        <br>
        <br>
        <a href="http://www.febnet.org.br/"><img class="rodape-image" src="{{ site.baseurl }}/img/logos/logo_feb.png" alt="logo feb"></a>
      </div>
      <div class="col-md-4">
        <h5>Nos acompanhe nas redes sociais</h5>
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/CefaFortaleza/"><i class="fa fa-facebook"></i>CefaFortaleza</a>
          </li>
          <br>
          <br>
          <li>
            <a href="https://www.instagram.com/cefafortaleza/"><i class="fa fa-instagram"></i>@cefafortaleza</a>
          </li>
        </ul>
      </div>
    </div>
    <br>
  </div>
</footer>
