<header>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img src="{{ '/img/logos/logo.png' | relative_url }}" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ '/' | relative_url }}">Início</a>
                </li>
                {% for item in site.data.samplelist.docs %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ item.url | relative_url }}"> {{ item.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>
