<header>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img src="{{ site.baseurl }}/img/logos/logo.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/">Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">O Espiritismo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">O Cefa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Atividades da Casa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Horários</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Fale Conosco</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>
