footer {
  background-color: #f5f1e0;
  padding-bottom: 55px;
  padding-top: 48px;
  text-align: center;
  p {
    color: #919191;
    font-size: 15px;
    line-height: 25px;
  }
  a {
    color: #595959;
  }
  .rodape-image {
    width: 25%;
  }
}
