.primary_content{
  margin: 50px 0 50px 0;
}
.secondary_content {
  .image {
    display:  block;
    margin-right: auto;
    margin-left:  auto;
    &.-tags{
      padding:30px 0 30px 0;
    }
  }
}
.list-board {
  margin: 30px 0 30px 0;
  .tab-pane{
    
  }
}
