.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:hover{
  color: #734743;
}
.social-icons i {
  color: #2C2C2C;
  font-size: 25px;
  margin-right: 25px;
}
