---
layout: page
---

  <!-- Wrapper Start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
          <h1 class="complete-title">{{ page.title }}</h1>
          <div>
            <p class="post-date">Escrito por <span class="bold">CEFA</span> em <span class="bold">{{ page.date | date: "%d de %b de %Y" }}</span></p>
          </div>
          <hr />
          <div class="col-md-12">
              <p>{{ content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<p class="center-text" style="padding: 30px;">
  <a onclick="history.go(-1)">Voltar</a>
</p>
